<section class="dialog">
  <button
    mat-icon-button
    *ngIf="data.type == 'confirmation'"
    class="dialog-close text-{{ color }}"
    (click)="onCancel()"
  >
    <mat-icon>close</mat-icon>
  </button>
  <h5
    class="fw-bolder text-{{ color }} w-100 text-center"
    [innerHTML]="data.options.title"
  ></h5>
  <!-- <mat-calendar class="w-100" [(selected)]="selectedDate"></mat-calendar>
  <mat-error
    class="opacity-0 text-danger mb-1"
    [ngClass]="{ 'opacity-0': !hasError }"
  >
    Debe seleccionar una fecha
  </mat-error> -->

  <form-control
    *ngIf="data.includeHour"
    class="w-100"
    [form]="form"
    name="selectedDate"
    [label]="data.options.message"
    type="date"
    [isSubmitted]="hasError"
    error="Debe seleccionar una fecha"
  ></form-control>
  <form-control
    *ngIf="data.includeHour"
    class="w-100 mb-3"
    [form]="form"
    name="selectedHour"
    [label]="data.options.message"
    type="time"
    [isSubmitted]="hasError"
    error="Debe seleccionar una hora"
  ></form-control>

  <section class="footer d-flex align-items-center gap-4">
    <a
      *ngIf="data.type == 'confirmation'"
      class="text-{{ color }}"
      (click)="onCancel()"
    >
      {{ data.options.cancelText || "Cancelar" }}
    </a>
    <button class="btn btn-{{ color }}" (click)="onOk()" cdkFocusInitial>
      {{ data.options.okText || "Aceptar" }}
    </button>
  </section>
</section>
