<nav
  class="d-flex align-items-center justify-content-sm-between justify-content-center flex-column flex-sm-row p-lg-4 p-3 w-100"
>
  <a
    routerLink="/profile"
    class="d-flex align-items-center gap-3 flex-column flex-sm-row mb-3 mb-sm-0"
  >
    <img
      src="assets/images/png/profile.png"
      alt="profile-img"
      class="img-fluid"
    />
    <div class="d-flex flex-column text-center text-sm-start">
      <span class="text-dark">Victor Guzmán Berrio</span>
      <span>Software Engineer</span>
    </div>
  </a>

  <div class="d-flex align-items-center gap-3">
    <a class="btn" routerLink="/profile">Profile</a>
    <a class="btn btn-primary">Contact me</a>
  </div>
</nav>
