<section class="post-index">
  <div class="lista text-muted unselectable">
    <h5>Contenido</h5>
    <a
      *ngFor="let item of filteredHeaders"
      class="link-primary"
      [routerLink]="['./']"
      [fragment]="item.class"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{
        matrixParams: 'exact',
        queryParams: 'exact',
        paths: 'exact',
        fragment: 'exact'
      }"
      (click)="scrollToElementVoid(item.class)"
    >
      {{ item.text }}
    </a>
  </div>
</section>
