$primary: #eaddf4 !default;
$primary-active: #be7abf !default;
$secondary: #dadadad8;
$tertiary: #eff1fd;
$success: #98dfdc;
$info: #11cdef;
$warning: #ffc107;
$danger: #f5365c;
$light: #f8f9fa;
$dark: #4d5b7c;
$dark-title: #031b4e;

$button-radius: 50px !default;
$button-shadow: 14px 13px 27px 0px #00000040 !important;
$default-radius: 20px;

:root {
  --default-radius: 20px;
  --button-shadow: 14px 13px 27px 0px #00000040 !important;
  --button-radius: 50px;
  --mat-form-field-active-color: var(--bg-primary-active);

  --bg-primary: #eaddf4;
  --bg-primary-active: #be7abf;
  --bg-secondary: #dadadad8;
  --bg-tertiary: #eff1fd;
  --bg-success: #98dfdc;
  --bg-info: #11cdef;
  --bg-warning: #ffc107;
  --bg-danger: #f5365c;
  --bg-light: #f8f9fa;
  --bg-dark: #4d5b7c;
  --bg-dark-title: #031b4e;
}
