<form [formGroup]="form">
  <mat-form-field
    class="w-100"
    appearance="outline"
    *ngIf="!isSelect && !isAutocomplete && !isDate"
  >
    <mat-label *ngIf="!hiddenLabel">{{ label || name }}</mat-label>
    <input
      matInput
      [type]="type == 'password' && !hidePassword ? 'text' : type"
      [placeholder]="placeholder"
      [formControlName]="name"
      [maxlength]="maxlength"
      (blur)="onBlur($event)"
      (input)="onInput($event)"
      (change)="onChange($event)"
      (keyup.enter)="onEnter($event)"
      [attr.min]="minNumber"
      [attr.max]="maxNumber"
    />
    <mat-icon matPrefix *ngIf="prefixIcon">{{ prefixIcon }}</mat-icon>
    <button
      *ngIf="isPassword"
      mat-icon-button
      matSuffix
      type="button"
      (click)="hidePassword = !hidePassword"
    >
      <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
    </button>

    <mat-error>{{ error }}</mat-error>
  </mat-form-field>

  <mat-form-field
    class="w-100"
    appearance="outline"
    *ngIf="isSelect && !isAutocomplete && !isDate"
  >
    <mat-label *ngIf="!hiddenLabel">{{ label || name }}</mat-label>
    <mat-select
      [formControlName]="name"
      (selectionChange)="onChange($event)"
      [multiple]="multiple"
    >
      <mat-select-trigger>
        <span>{{ selectedDescriptionSelect }}</span>
      </mat-select-trigger>
      <mat-option disabled> Seleccione</mat-option>
      <mat-option
        *ngFor="let item of dataSelect"
        [value]="item.value"
        [disabled]="item.disabled || false"
      >
        <div
          matPrefix
          *ngIf="item.statusClass"
          class="circle-status me-1 {{ item.statusClass }}"
        ></div>
        <span>{{ item.description }}</span>

        <div *ngIf="item.details" class="suffix ms-3">
          {{ item.details }}
        </div>
      </mat-option>
    </mat-select>
    <mat-error>{{ error }}</mat-error>
  </mat-form-field>

  <mat-form-field
    class="w-100"
    appearance="outline"
    *ngIf="!isSelect && !isAutocomplete && isDate && !isDateYear"
    (click)="picker.open()"
  >
    <mat-label *ngIf="!hiddenLabel">{{ label || name }}</mat-label>
    <input
      matInput
      [formControlName]="name"
      [placeholder]="placeholder"
      [matDatepicker]="picker"
      [min]="minDate"
      [max]="maxDate"
      readonly=""
      (blur)="onBlur($event)"
      (input)="onInput($event)"
      (change)="onChange($event)"
      (keyup.enter)="onEnter($event)"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error>{{ error }}</mat-error>
  </mat-form-field>

  <mat-form-field
    class="w-100"
    appearance="outline"
    *ngIf="!isSelect && !isAutocomplete && isDate && isDateYear"
    (click)="picker.open()"
  >
    <mat-label *ngIf="!hiddenLabel">{{ label || name }}</mat-label>
    <input
      matInput
      [formControlName]="name"
      [placeholder]="placeholder || 'dd/mm/aaaa'"
      [matDatepicker]="picker"
      [min]="minDate"
      [max]="maxDate"
      readonly=""
      (blur)="onBlur($event)"
      (input)="onInput($event)"
      (change)="onChange($event)"
      (keyup.enter)="onEnter($event)"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker
      #picker
      startView="multi-year"
      (yearSelected)="picker.close()"
    ></mat-datepicker>
    <mat-error>{{ error }}</mat-error>
  </mat-form-field>

  <mat-form-field class="w-100" appearance="outline" *ngIf="dataSelect && dataSelect.length>0&& isAutocomplete">
    <mat-label *ngIf="!hiddenLabel">{{ label || name }}</mat-label>
    <input
      matInput
      #autoCompleteInput
      [matAutocomplete]="auto"
      [placeholder]="placeholder"
      (input)="filterAutocomplete(autoCompleteInput.value, $event)"
      (focus)="
        filterAutocomplete(
          autoCompleteInput.value,
          autoCompleteInput.value ? undefined : $event
        )
      "
      [value]="autocompleteFirstValue"
      [formControlName]="name"
      (blur)="onBlur($event)"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onChange($event)"
      [displayWith]="displayFn"
    >
      <mat-option *ngFor="let option of autoCompleteOptions" [value]="option">
        {{ option.description }}
      </mat-option>
    </mat-autocomplete>
    <mat-error>{{ error }}</mat-error>
  </mat-form-field>
</form>
