// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//   background-color: white;
//   border-radius: 8px;
// }

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: var(--bs-primary) !important;
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--bg-gray) !important;
}
//mat-input focused color
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: var(--bs-primary) !important;
}

// mat-input error outline color
::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: var(--bs-danger) !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: var(--bs-danger) !important;
}
::ng-deep .auto-complete-select {
  .mat-select-arrow {
    border: none;
  }
}

.suffix{
  font-size: 12px;
  font-weight: 300;
  color: var(--bg-gray);
}
