<footer class="container pt-3 pb-3">
  <div class="row">
    <div class="col-6 d-flex gap-3 align-items-center justify-content-start">
      <a>
        <img
          src="assets/images/svg/logo-github.svg"
          alt="logo-github"
          width="24"
        />
      </a>
      <a>
        <img
          src="assets/images/svg/logo-linkedin.svg"
          alt="logo-linkedin"
          width="24"
        />
      </a>
      <a>
        <img
          src="assets/images/svg/logo-email.svg"
          alt="logo-email"
          width="24"
        />
      </a>
    </div>
    <div class="col-6 d-flex align-items-center gap-3 justify-content-end">
      <a class="btn" routerLink="/profile">Profile</a>
      <a class="btn">Contact me</a>
    </div>
  </div>
</footer>
