<div class="container-fluid p-3">
  <div class="card sidebar">
    <div class="card-body">
      <div class="d-flex align-items-center gap-2 flex-column flex-sm-row mb-3">
        <img
          src="assets/images/png/profile.png"
          alt="profile-img"
          class="img-fluid rounded-circle"
          width="40"
        />
        <div class="d-flex flex-column text-center text-sm-start">
          <span class="text-dark">Victor Guzmán Berrio</span>
          <small class="text-primary-active">Software Engineer</small>
        </div>
      </div>
      <hr />
      <div class="options d-flex flex-column mt-3">
        <button class="btn option w-100">
          <mat-icon>search</mat-icon>
          Find something
        </button>

        <button class="btn option w-100">
          <mat-icon class="text-success">shoping_cart</mat-icon>
          Do something
        </button>

        <button class="btn option w-100">
          <mat-icon class="text-danger">edit</mat-icon>
          Make something
        </button>

        <button class="btn option w-100">
          <mat-icon class="text-info">menu</mat-icon>
          Look something
        </button>

        <button class="btn option w-100">
          <mat-icon class="text-warning">add</mat-icon>
          Add something
        </button>
      </div>
    </div>
  </div>
</div>
