<div class="d-flex align-items-start gap-3 p-4 bg-tertiary rounded">
  <img
    src="assets/images/png/profile.png"
    alt="profile-img"
    class="img-fluid rounded-circle"
    width="50"
  />
  <div class="d-flex flex-column gap-3">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <div class="d-flex align-items-center gap-3">
        <strong class="text-dark">Victor Guzmán Berrio</strong>
        <span class="btn btn-success btn-sm">Software Engineer</span>
      </div>
    </div>
    <span>
      At 29 years old, my favorite compliment is being told that I look like my
      mom. Seeing myself in her image, like this daughter up top, makes me so
      proud of how far I’ve come, and so thankful for where I come from.
    </span>
  </div>
</div>
