<div class="d-flex flex-column gap-3 p-4 bg-tertiary rounded">
  <div
    class="d-flex gap-3 align-items-end align-items-lg-center gap-3 justify-content-between"
  >
    <div class="d-flex align-items-center gap-3 w-100">
      <img
        src="assets/images/png/profile.png"
        alt="profile-img"
        class="img-fluid rounded-circle"
        width="50"
      />
      <div class="d-flex flex-column gap text-nowrap">
        <strong class="text-dark">Victor Guzmán Berrio</strong>
        <small class="text-muted">Software Engineer</small>
      </div>
    </div>
    <a mat-icon-button class="btn btn-success btn-sm"
      ><mat-icon>thumb_up</mat-icon></a
    >
  </div>
  <span>
    At 29 years old, my favorite compliment is being told that I look like my
    mom. Seeing myself in her image, like this daughter up top, makes me so
    proud of how far I’ve come, and so thankful for where I come from.
  </span>
</div>
