#public-content {
  padding-top: 92px;
  @media screen and (max-width: 992px) {
    padding-top: 0px;
  }
}

#public-navbar {
  position: fixed;
  width: 100%;
  transition: top 0.3s;

  @media screen and (max-width: 992px) {
    position: inherit;
  }
}
