section {
  .buttons-container {
    position: relative;
    width: 100%;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;

    .buttons {
      height: 90px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      overflow-x: auto;
      padding-top: 15px;
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 80px;

      @media screen and (min-width: 768px) {
        position: absolute;
        top: 20px;
        left: 50%;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        justify-content: center;
      }
    }
  }
  .input-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    gap: 15px;

    height: 36px;
    min-width: 300px;
    background: #e4e4e4a8;
    border-radius: 50px;

    transition: all ease-in 0.2s;
    input {
      min-width: 260px;
      height: 30px;
    }
  }
}
