.post {
  .post-img {
    border-radius: var(--default-radius);
    object-fit: cover;
    width: 763px;
    height: 411px;
  }
  .description {
    max-width: 564px;
  }
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .number {
    font-size: 300px;
    font-weight: 900;
    line-height: 1em;
  }

  span {
    font-size: 1.3rem;
  }
}
