.field {
  border: 2px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  margin: 0.25em 0;
  padding: 0.3rem 1.5rem;
  pointer-events: none;

  &:hover {
    border-color: black;
  }

  &:focus,
  &:active {
    border-color: var(--mat-form-field-active-color);
  }

  .content {
    pointer-events: auto;

    label {
      background-color: white;
      font-family: "Roboto";
      font-size: 0.75rem;
    }
  }
}
