<article class="card">
  <section class="icon">
    <div class="back {{color}}">
      <mat-icon *ngIf="this.icon" class="material-icons-round">{{icon}}</mat-icon>
    </div>
  </section>
  <section class="card-header pb-0">
    <h1>{{data.title}}</h1>
  </section>
  <section [innerHTML]="data.text" class="card-body pt-1"></section>
  <section class="card-footer">
    <button mat-button (click)="onCancelClick($event)">Cancelar</button>
    <button mat-flat-button (click)="onOkClick()" class="{{data.type}}" cdkFocusInitial>{{data.button}}</button>
  </section>

</article>
