<div class="container">
  <!-- <app-blog-categories></app-blog-categories> -->

  <div class="row">
    <section class="col-lg-2">
      <div class="index">
        <h5>Contenido</h5>
        <ul class="text-muted">
          <li>
            <a href=""
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a
            >
          </li>
          <li>
            <a href=""
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a
            >
          </li>
          <li>
            <a href=""
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a
            >
          </li>
          <li>
            <a href=""
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a
            >
          </li>
        </ul>
      </div>
    </section>
    <article class="col-lg-8">
      <div class="d-flex align-items-center justify-content-between mb-3">
        <div class="d-flex gap-2 flex-wrap">
          <span
            class="cursor-pointer"
            matTooltip="{{ (post.created_date | date: 'medium')! }}"
            matTooltipPosition="right"
            matTooltipHideDelay="500"
            matTooltipClass="background-tooltip"
          >
            {{ post.created_date | date: "mediumDate" }}
          </span>
          <span class="text-muted"> • </span>
          <span
            class="cursor-pointer text-muted"
            matTooltip="{{ (post.created_date | date: 'medium')! }}"
            matTooltipPosition="right"
            matTooltipHideDelay="500"
            matTooltipClass="background-tooltip"
            *ngIf="post.modified_date"
          >
            Edited
          </span>
        </div>
        <div class="d-flex flex-wrap gap-2">
          <span class="btn btn-secondary btn-sm" *ngFor="let item of tags">
            {{ item }}
          </span>
        </div>
      </div>
      <img
        [src]="post.image"
        alt="img-preview"
        class="img-fluid w-100 rounded"
        height="400"
      />

      <h1 class="fw-bold mb-3 mt-3" [innerText]="post.name"></h1>

      <app-blog-content
        *ngIf="post.content"
        [content]="post.content"
      ></app-blog-content>

      <app-blog-autor></app-blog-autor>
    </article>
    <section class="col-lg-2">
      <div class="d-flex flex-column">
        <h5>Temas populares</h5>
        <a>Tema 1</a>
        <a>Tema 2</a>
        <a>Tema 3</a>
        <a>Tema 4</a>
      </div>
    </section>
  </div>
</div>
