@import "/src/assets/scss/variables";
.post-index {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 400px;

  @media screen and (max-width: 992px) {
    width: 100%;
  }

  .lista {
    position: fixed;

    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 2rem;
    margin-left: 1rem;
    width: calc(400px - 1rem);
    overflow-y: auto;
    @media screen and (max-width: 992px) {
      position: inherit;
      width: 100%;
    }

    a {
      display: flex;
      flex-direction: column;
      width: 100%;
      transition: all ease-in 0.2s;
      gap: 0.3rem;

      background-color: rgba($color: #fff, $alpha: 0.2);
      border-radius: 8px;
      padding: 0.7rem 1rem;

      div {
        display: flex;
        width: 100%;
        gap: 1rem;

        .title {
          color: black;
          font-weight: 600;
        }

        img {
          min-width: 56px;
          width: 56px;
          height: 56px;
          object-fit: cover;
        }
      }
    }
  }
}
