<section class="post-index">
  <div class="content">
    <h5>Temas populares</h5>
    <div class="lista text-muted unselectable">
      <a *ngFor="let item of posts" [href]="'/public/blog/post/' + item.id">
        <div>
          <span class="title">
            {{ item.name }}
          </span>
          <img [src]="item.image.base64" alt="img-preview" class="img" />
        </div>
        <small class="text-muted">{{ item.created_date | date }}</small>
      </a>
    </div>
  </div>
</section>
