<div class="sidebar">
  <ul class="list">
    <ng-container *ngIf="!sideData || !sideData.length">
      <li class="p-3 text-light">Aún no tiene permisos</li>
    </ng-container>
    <ng-container *ngIf="sideData && sideData.length">
      <li *ngFor="let option of sideData" class="list__item">
        <div
          class="list__button list__button--click align-items-center"
          (click)="option.viewOptions = !option.viewOptions"
        >
          <div class="d-flex justify-content-start align-items-center">
            <img
              src="../../../../../../assets/Iconos/{{ option.icon }}"
              alt=""
              class="list__img"
            />
            <p class="nav__link">{{ option.label | phrasecase }}</p>
          </div>

          <mat-icon fontIcon="arrow_drop_down" class="list__arrow"> </mat-icon>
        </div>

        <ul
          *ngIf="option.subMenu.length != 0"
          class="list__show"
          [ngClass]="{ hide: option.viewOptions, unhide: !option.viewOptions }"
        >
          <li *ngFor="let subOption of option.subMenu" class="list__inside">
            <a
              class="nav__link"
              [routerLink]="[subOption.routeLink]"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{
                paths: 'subset',
                matrixParams: 'ignored',
                queryParams: 'ignored',
                fragment: 'ignored'
              }"
              >{{ subOption.label | phrasecase }}</a
            >
          </li>
        </ul>
      </li>
    </ng-container>
  </ul>
</div>
