.sidebar {
  height: calc(100vh - 100px);
  width: 200px;
  background-color: #363535;
  transition: 0.3s;
}

.list {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

.list__item {
  list-style: none;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.list__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  cursor: pointer;
}
.list__button:hover {
  background-color: #f1d103;
  .list__img {
    filter: invert(100%) sepia(0%) saturate(7473%) hue-rotate(89deg)
      brightness(100%) contrast(106%);
  }
  .nav__link {
    color: white;
  }
  .list__arrow {
    color: white;
  }
}

.list__arrow {
  margin-left: 5px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #f1d103;
}

.list__img {
  max-width: 25px;
  max-height: 25px;
  margin: 0 10px;
  filter: invert(67%) sepia(85%) saturate(2626%) hue-rotate(18deg)
    brightness(121%) contrast(98%);
}

.nav__link {
  color: #f1d103;
  display: block;
  padding: 15px 0;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
}
.active {
  background-color: #f1a003;
  color: white !important;
}

.nav__link:hover {
  background-color: #f1d103;
  color: white;
}

.list__show {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
}

.hide {
  height: auto;
  transition: height 0.4s;

  .list__arrow {
    transform: rotate(90deg);
  }
}

.unhide {
  height: 0;
  transition: height 0.4s;
}
