<div class="row" *ngIf="post">
  <article class="col-lg-12">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <div class="d-flex gap-2 flex-wrap">
        <span
          class="cursor-pointer"
          matTooltip="{{ (post.created_date | date : 'medium')! }}"
          matTooltipPosition="right"
          matTooltipHideDelay="500"
          matTooltipClass="background-tooltip"
        >
          {{ post.created_date | date : "mediumDate" }}
        </span>
        <span class="text-muted"> • </span>
        <span
          class="cursor-pointer text-muted"
          matTooltip="{{ (post.created_date | date : 'medium')! }}"
          matTooltipPosition="right"
          matTooltipHideDelay="500"
          matTooltipClass="background-tooltip"
          *ngIf="post.modified_date"
        >
          Edited
        </span>
      </div>
    </div>
    <img
      [src]="post.image.base64 | sanitize"
      alt="img-preview"
      class="img-fluid w-100 rounded"
      height="400"
    />

    <div class="d-flex flex-wrap gap-2 mt-3">
      <span class="btn btn-secondary btn-sm" *ngFor="let item of tags">
        {{ item }}
      </span>
    </div>

    <article class="d-flex flex-column w-100">
      <h1 class="fw-bold mb-3 mt-3">
        {{ post.name }}
      </h1>

      <app-post-index class="d-lg-none d-flex w-100 mb-3"></app-post-index>

      <div class="post-content" [innerHTML]="content"></div>
    </article>

    <app-blog-autor></app-blog-autor>
  </article>
</div>
