$bg-table: #f8f9fa;
$border-table: 8px;

.table-container {
  $table-width-responsive: 992px;

  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(79, 79, 79, 0.13);
  border-radius: $border-table;
  background-color: transparent;

  // &.sidenav-opened {
  //   $table-width-responsive: 4000px;
  // }

  .table {
    max-width: 100vw;
    width: 100%;
    height: fit-content;
    overflow-x: auto;
    overflow: auto;
    background-color: transparent;
    margin-bottom: 0;
    border-radius: $border-table;
    background-color: $bg-table;

    --bs-table-striped-bg: #1753db08 !important;

    @media (min-width: $table-width-responsive) {
      &.table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        .mat-table {
          width: 100%;
          max-width: 100%;
          margin-bottom: 1rem;
          display: table;
          border-collapse: collapse;
          margin: 0px;
        }
        .mat-row,
        .mat-header-row {
          display: table-row;
        }
        .mat-cell,
        .mat-header-cell {
          word-wrap: initial;
          display: table-cell;
          padding: 0px 5px;
          line-break: unset;
          width: auto;
          white-space: nowrap;
          overflow: hidden;
          vertical-align: middle;
        }
      }
    }
  }

  .mat-header-row {
    .mat-header-cell {
      border-bottom: 1px solid var(--endeavour) !important;
      opacity: 1;
      padding: 0 10px !important;

      &:first-child {
        padding-left: 2rem !important;
        border-top-left-radius: $border-table;
      }

      &:last-child {
        border-top-right-radius: $border-table;
      }

      .column-header {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: #363255;

        display: flex;
        align-items: center;
        height: 100%;

        &.text-center {
          text-align: center;
          justify-content: center;
        }
        &.text-start {
          text-align: start;
          justify-content: flex-start;
        }
        &.text-end {
          text-align: end;
          justify-content: flex-end;
        }
      }
    }

    @media (max-width: $table-width-responsive) {
      display: none;
    }
  }
  tbody {
    height: fit-content !important;
    min-height: 0 !important;
  }
  .mat-row {
    @media (max-width: $table-width-responsive) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: fit-content;
      width: 100%;
      padding: 0rem;
    }

    &:hover .mat-cell {
      background-color: rgba($color: #000000, $alpha: 0.05);
    }

    .mat-cell {
      color: #212529;
      letter-spacing: 0px;
      font-weight: normal;
      border: none;

      @media (min-width: $table-width-responsive) {
        padding: 0 10px !important;

        &:first-child {
          padding-left: 2rem !important;
        }
      }
      @media (max-width: $table-width-responsive) {
        display: flex;
        width: 100%;
        border: none;
      }

      .column-render {
        display: flex;
        align-items: center;
        gap: 1rem;
        height: 65px !important;
        max-height: 65px !important;

        .content {
          font-size: 14px;

          .flag {
            width: 30px;
            color: #6d8297;
          }

          .circle-status {
            width: 10px;
            height: 10px;
            border-radius: 500px;
          }

          .item-list {
            .icon-list-expanded {
              border-radius: 500px;
              cursor: pointer;
              &:hover {
                background-color: rgba($color: #000000, $alpha: 0.3);
              }
            }
          }
        }

        &.text-center {
          text-align: center;
          justify-content: center;
        }
        &.text-start {
          text-align: start;
          justify-content: flex-start;
        }
        &.text-end {
          text-align: end;
          justify-content: flex-end;
        }

        @media (max-width: $table-width-responsive) {
          align-items: flex-start;
          height: fit-content !important;
          max-height: none !important;
        }
      }

      .list-expanded {
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 1rem;
        .item {
          display: flex;
          align-items: center;
          gap: 7px;

          position: relative;

          .initial-icon {
            font-size: 12px;
            height: 15px;
            width: 15px;
            border-radius: 500px !important;
          }
          .action-icon {
            font-size: 17px;
            height: 17px;
            width: 17px;
            font-weight: bold;
          }

          .tooltip-item {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 2;

            display: none;
          }

          &:hover {
            text-decoration: underline;
            cursor: pointer;
            .tooltip-item {
              display: flex;
            }
          }
        }
      }
    }
  }

  .mobile-label {
    display: none;
    @media (max-width: $table-width-responsive) {
      display: flex;
      font-weight: bold;
      padding: 0 10px;
    }
  }

  @media (max-width: $table-width-responsive) {
    [mat-cell] {
      word-break: break-all !important;
      display: flex;
    }
  }

  .mat-paginator {
    border: none !important;
    background-color: $bg-table;
    border-bottom-right-radius: $border-table;
    border-bottom-left-radius: $border-table;
  }
}

.btn-danger {
  background-color: var(--bg-danger) !important;
  border-color: var(--bg-danger) !important;
  color: white !important;
}
.btn-outline-danger {
  background-color: transparent !important;
  border-color: var(--bg-danger) !important;
  color: var(--bg-danger) !important;
}

.btn-warning {
  background-color: var(--bg-warning) !important;
  border-color: var(--bg-warning) !important;
  color: white !important;
}

.btn-success {
  background-color: var(--bg-success) !important;
  border-color: var(--bg-success) !important;
  color: white !important;
}

.btn-disabled {
  background-color: transparent !important;
  color: #8193a5 !important;
  border-color: #8193a5 !important;
}

.btn-purple {
  background-color: #b9abfc !important;
  color: white !important;
  border-color: #b9abfc !important;
}
.btn-white{
  color: #0D307F;
  background-color: white;
}
.btn-gray{
  color: #1753DB;
  background-color: #E4E8EC;
}

.btn-blue-dark-camion {
  background-color: white !important;
  color: var(--bg-blue-dark) !important;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) !important;
}

.btn-blue-grupo {
  background-color: #e4e8ec !important;
  color: var(--bg-blue-dark) !important;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) !important;
}
.bg-danger {
  background-color: var(--bg-danger) !important;
}

.bg-warning {
  background-color: var(--bg-warning) !important;
}

.bg-success {
  background-color: var(--bg-success) !important;
}

.text-danger {
  color: var(--bg-danger) !important;
}

.text-warning {
  color: var(--bg-warning) !important;
}

.text-success {
  color: var(--bg-success) !important;
}

.w-200 {
  width: 200px !important;
}
