<article
  class="dialog d-flex flex-column align-items-center p-4 position-relative"
>
  <div class="d-flex flex-column align-items-end justify-content-end w-100">
    <button class="btn btn-close" (click)="onCancel()"></button>
    <h3 class="fw-bolder text-primary w-100 text-center">
      Cambia tu contraseña
    </h3>
  </div>
  <p class="body pt-1">
    Como reiniciaste tu contraseña ahora debes poner una personalizada.
  </p>

  <form [formGroup]="form" class="w-100 px-3 pe-3">
    <form-control
      [form]="form"
      [isSubmited]="isSubmited"
      name="contrasena"
      type="password"
      maxlength="16"
      label="Digita tu nueva contraseña"
    >
    </form-control>
    <form-control
      [form]="form"
      [isSubmited]="isSubmited"
      name="repetirContrasena"
      type="password"
      maxlength="16"
      label="Repite la contraseña"
    >
    </form-control>
  </form>
  <section class="footer d-flex align-items-center mt-3">
    <button class="btn btn-secondary" (click)="onSubmit()" cdkFocusInitial>
      Enviar
    </button>
  </section>
</article>
